div
  h1
    i.fa.fa-home
    | This is our home
  button([routerLink]="['/author']") This button is cool
  button((click)="test()") Show toast
div([innerHTML]="'<h1>The title</h1><button>Another button</button>'")
div([dynamic-content]="content", [local]="contentLocal")

.row
  .left(col="33.3")
    .box Left
  .right(col="66.6")
    .box Right
