//------ VARIABLES ------
$font--judson: 'Judson', serif;
$font--prompt: 'Prompt', sans-serif;

$color--text-main: #3d3d3d;

$color--white-smoke:	hsl(270, 25%, 98%);
$color--cornflower-blue: hsl(227, 50%, 71%);
$color--slate-blue:	hsl(267, 19%, 46%);
$color--lavender:	hsl(282, 17%, 85%);
$color--thistle:	hsl(330, 26%, 75%);
