@import 'variables';
@import 'helpers';
@import 'reset';
@import 'grid';
@import 'typo';
@import 'button';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

a {
  text-decoration: none;
  color: inherit;

  &.active {
    color: $color--lavender;
  }
}
