header
  ul.main-nav
    li
      a([routerLink]="['/']", routerLinkActive="active", [routerLinkActiveOptions]="{exact: true}") Home
    li
      a([routerLink]="['/author']", routerLinkActive="active") Author
      ul
        li: a([routerLink]="['/author/hermingway']", routerLinkActive="active") E. Hermingway
        li: a([routerLink]="['/author/carl-j']", routerLinkActive="active") Carl Jung
        li: a([routerLink]="['/author/jk-rowling']", routerLinkActive="active") JK. Rowling
  .content
    router-outlet
